<p id="notice"><%= notice %></p>

<h1>Authors</h1>

  <% @authors.each do |author| %>
    <p>
      Username: <%= author.username %><br />
      Email: <%= author.email %><br />
    </p>
    <p>
      <%= link_to 'Show', author %>
      <%= link_to 'Edit', edit_author_path(author) %>
      <%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %><br />
    </p>
    <br>
  <% end %>

<br>

<%= link_to 'New Author', new_author_path %>
